body {
  text-align: center;
  margin: 0;
  font-family: 'Merriweather Sans', sans-serif;
}
h1 {
  font-size: 5.265rem;
  font-family: 'Sacramento', cursive;
  color: #325288;
  margin-bottom: 0;
}
h2 {
  font-size: 2.5rem;
  font-family: 'Montserrat', sans-serif;
  color: #325288;
  padding-bottom: 10px;
}
h3 {
  font-family: 'Montserrat', sans-serif;
  color: #325288;
  margin-top: 0;
}
hr {
  /*border: color width style*/
  border: #BDC7C9 0.5rem dotted;
  border-bottom: none;
  width: 5%;
  margin: 40px auto;
}
p {
  line-height: 2;
}
a {
  color: #0000CD;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  margin: 15px 25px;
}
a:hover {
  color: #696969;
}
.top-container {
  background-color: #8ab6d6;
  position: relative;
  padding-top: 60px;
}
.pro {
  text-decoration: underline;
}
.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}
.bottom-cloud {
  position: absolute;
  left: 230px;
  top: 310px;
}
.title-description {
  margin: 0px auto;
}
.skill-row {
  width: 50%;
  margin: 100px auto;
  text-align: left;
  padding-bottom: 32px;
}
.code-img {
  float: left;
  width: 25%;
  margin-right: 20px;
}
.network-img {
  float: left;
  width: 25%;
  margin-right: 20px;
}
.bottom-container {
  background-color: #B0E0E6;
  padding: 50px 0 20px;
}
.profile-pic {
  width: 20%;
}
.middle-container {
  margin: 100px 0;
}
.introduction {
  width: 30%;
  margin: auto;
}
.contact-msg {
  width: 40%;
  margin: 40px auto 60px;
}
.copyright {
  color: #696969;
  font-size: 0.7rem;
  padding: 20px 0;
}
.btn {
  background: #064e7d;
  background-image: -webkit-linear-gradient(top, #064e7d, #8bcdf7);
  background-image: -moz-linear-gradient(top, #064e7d, #8bcdf7);
  background-image: -ms-linear-gradient(top, #064e7d, #8bcdf7);
  background-image: -o-linear-gradient(top, #064e7d, #8bcdf7);
  background-image: linear-gradient(to bottom, #064e7d, #8bcdf7);
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #c7e4f5;
  background-image: -webkit-linear-gradient(top, #c7e4f5, #60a1cc);
  background-image: -moz-linear-gradient(top, #c7e4f5, #60a1cc);
  background-image: -ms-linear-gradient(top, #c7e4f5, #60a1cc);
  background-image: -o-linear-gradient(top, #c7e4f5, #60a1cc);
  background-image: linear-gradient(to bottom, #c7e4f5, #60a1cc);
  text-decoration: none;
}
